@import 'tailwindcss';

:root {
  font-family: 'Sora', 'Avenir Next', 'Segoe UI', sans-serif;
  color: #111827;
  background-color: #222627;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
